accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
gym
gym-notices
huggingface-hub
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
pillow
propcache
psutil
pyarrow
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
xxhash
yarl
uvicorn
fastapi
